:root {
    --body-font-size: 14px;
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(var(--body-font-size), calc(var(--body-font-size)), 5em);
    background-color: var(--cream);
    color: var(--dark-grayish-blue);
}
button {
    all: unset;
    border-radius: 8px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
    color: var(--white);
}
button>p {
    margin: 0;

}
button>img {
    padding-right: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    max-inline-size: clamp(30em, calc(50em + 1.5vw), 90em);
  
    border-radius: 1.4em;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.card-body>h1 {
    color: var(--very-dark-blue);
    font-size: clamp(1em, 1.75em + 1.5vw, 3em);
        
}

.card-body.desc {
    font-size: clamp(1em, 1.75em + 1.5vw, 3rem);
}

.category {
    margin: 0;
    letter-spacing: 0.5em;
}
.perform-pic {
    border-radius: 5px 5px 0em 0em;
}


.price-section {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.price-section>h2 {
    flex: 1;
    margin: 0;
    color: var(--dark-cyan);
    font-size: clamp( 1em, calc(2em + 1.5vw), 3em);
}

.price-section>span {
    flex: 3;
    padding-left: 1em;
    text-decoration: line-through;
}

@media (min-width: 41em) {

    .card {
        flex-direction: row;
       
    }

    picture {
        flex: 1;
    }
    .perform-pic {
        border-radius: 10px 0px 0px 10px;
        
    }
    .card-body {
        padding: 40px;
        justify-content: space-around;
        flex: 1;
    }
    .card-body>h1 {
        margin: 0;
    }


    
    
}

.fraunces-700 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}
.montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
